* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 5vmin;
    letter-spacing: 1vmin;
    color: rgba(83,157,189);
    margin: 10vmin;
}

#boardSpace {
    display: grid;
    grid-template-columns: repeat(3, 6vmin);
    grid-template-rows: repeat(3,6vmin);
    
  }
  
  #boardSpace > div {
    display: flex;
    border: .1vmin solid rgba(83,157,189);;
    border-top-style: none;
    border-left-style: none;
    justify-content: center;
  }

  #boardSpace>div:hover{
      transform: scale(0.8);
      transition: all 0.2s ease-in;
      border-top-color: red;
  }
  
  

